<div class="navigation-top">
    <div class="float-left"><img class="navigation-top-logo" src="~/Content/img/logo_white_150x150.png"/></div>
    <ul style="float: left; margin-top: 8px;">
        <li>
            @Html.ActionLink("Martin S", "Index", "Home")
        </li>
    </ul>
    <p class="player">
        <audio id="mainMp3Player" controls preload="none" loop>
            <source id="mainMp3Source" src="" type="audio/mpeg">
            Ваш браузер не поддерживает HTML 5. Вы можете только скачать треки.
        </audio>
        Сейчас играет: <span id="nowPlaying">...</span>
    </p>

    <ul style="float: right; margin-top: 8px;">
        <li>
            @Html.ActionLink("Albums", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("About", "About", "Home")
        </li>
        <li>
            @Html.ActionLink("Donate", "Donate", "Home")
        </li>
        <li>
            <a href="http://vk.com/martinspublic" target="_blank"><img class="social" src="@Url.Content("~/Content/img/vkontakte.png")" /></a>
        </li>
        <li>
            <a href="https://twitter.com/Martin_S_Online" target="_blank"><img class="social" src="@Url.Content("~/Content/img/twitter.png")" /></a>
        </li>
        <li>
            <a href="http://www.youtube.com/user/matrinschannel" target="_blank"><img class="social" src="@Url.Content("~/Content/img/youtube.png")" /></a>
        </li>
    </ul>
</div>
