@using Martin.Utility
@model Martin.ViewModel.AlbumsHomeViewModel

@{
    var currentAlbum = Model.Albums.First(x => x.Id == Model.AlbumId);
}

<div class="slide">
    @{
        var cuteUrl = Url.Action("GetSlideByName", "Home", new {albumName = currentAlbum.Name, albumId = currentAlbum.Id});
        if (!string.IsNullOrEmpty(cuteUrl))
        {
            cuteUrl = cuteUrl.Replace("%20", "-");
        }
    }
    <input type="hidden" id="albumId" value="@currentAlbum.Id"/>
    <input type="hidden" id="albumCuteUrl" value="@cuteUrl"/>
    <input type="hidden" id="albumBgImg" value="@Url.Content("~/Content/cover/" + currentAlbum.BackgroundFileName)"/>
    <div class="slide-center">
        <div class="album-content" style="color: @currentAlbum.TextColor">
            <div class="album-content" style="color: @currentAlbum.TextColor">
                <h1 class="album-name">
                    @currentAlbum.Name
                    <a href="@Url.Action("GetAlbumInArchive", "Home", new {idAlbum = currentAlbum.Id})">
                        <canvas class="downloadAlbum downloadImg" data-bgcolor="@currentAlbum.TextColor"></canvas>
                    </a>
                </h1>

                <div class="front-album-block">
                    <img class="album-cover" src="@Url.Content("~/Content/cover/" + currentAlbum.CoverFileName)"/>
                </div>

                @*@if (!string.IsNullOrWhiteSpace(currentAlbum.Description))
                {
                    <div class="front-album-block front-album-desc">
                        <h4>Описание альбома</h4>
                        <p>@currentAlbum.Description</p>
                    </div>
                }*@

                <div class="front-album-block">
                    @{
                        var index = 0;
                    }
                    @foreach (var song in currentAlbum.Songs)
                    {
                        var songPath = @Url.Content("~/" + FileHelper.PathToSong(currentAlbum.Name, song.Mp3FileName));
                        <p style="font-size: 20px;">
                            <canvas class="playSong" width="30" height="30"
                                    data-bgcolor="@currentAlbum.TextColor"
                                    data-songpath="@songPath"
                                    data-albumname="@currentAlbum.Name"
                                    data-songname="@song.Name" 
                                    data-index="@(index++)">@*<img class="playSong" src="@Url.Content("~/Content/img/play.png")" data-songpath="@songPath" data-albumname="@currentAlbum.Name" data-songname="@song.Name" />*@</canvas>
                            <a href="@Url.Action("GetSongMp3", "Home", new {songId = song.Id})"><canvas
                                                                                                    width="30" height="30"
                                                                                                    class="downloadSong downloadImg"
                                                                                                    data-bgcolor="@currentAlbum.TextColor"
                                                                                                    data-songpath="@songPath">
    @*<a href="@songPath">Скачать песню</a>*@
    </canvas></a>
                            @song.Name
                        </p>
                    }
                </div>
            </div>
            <div class="album-footer">
                @Html.Partial("AlbumFooter", Model.Albums)
            </div>
        </div>
    </div>
</div>

