@using Martin.Utility
@model Dao.Model.StaticContent

@{
    ViewBag.Title = "Static";
    Layout = "~/Views/AdminMaster.cshtml";
}

@section Script
{
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script>
        var urlGetStaticContent = "@Url.Action("GetStaticContent", "Album")";
    </script>
    <script src="@Url.Content("~/Scripts/admin/staticContent.js")"></script>
}

<h2>Static</h2>

@using (Html.BeginForm("AddStaticContent", "Album", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <p>
        Заголовок: @Html.TextBoxFor(x => x.Title)
    </p>

    <p>
        Тело @Html.TextAreaFor(x => x.Body)
    </p>

    <p>
        Альбом @Html.DropDownListFor(x => x.TypeStaticContent, StaticContentHelper.SelectList())
    </p>

    <p>
        <input type="submit" value="Сохранить"/>
    </p>
}