@using Martin.Utility
@model List<Dao.Model.Album>

@{
    ViewBag.Title = "Album";
    Layout = "~/Views/AdminMaster.cshtml";
}

@section Script
{
    <script>
        $(document).ready(function () {
            $(".remove").click(function () {
                var img = $(this);
                var type = img.data("type");
                var name = img.data("name");
                if (confirm("Вы хотите удалить " + type + " под названием " + name + "?")) {
                    return true;
                }
                return false;
            });
        });
    </script>

}

<h2>Albums <a href="@Url.Action("Add")"><img class="admin-icon" src="@Url.Content("~/Content/img/add.png")" /></a></h2>

@if (Model != null)
{
    foreach (var album in Model)
    {
        <a name="album-@album.Id"></a>
        <div>
            <div class="admin-album-block clear-left">
                <div>
                    <!-- Order @album.Order -->
                    <!--<p>№@album.Id</p>-->
                    <h1 style="margin-top: 0;">
                        @*@album.Order)*@ @album.Name
                        <a href="@Url.Action("Delete", new {id = album.Id})"><img class="admin-icon remove" data-type="альбом" data-name="@album.Name" src="@Url.Content("~/Content/img/remove.png")"/></a>
                        <a href="@Url.Action("Edit", new {id = album.Id})"><img class="admin-icon" src="@Url.Content("~/Content/img/edit.png")"/></a>
                        <a href="@Url.Action("AlbumOrder", new {id = album.Id, up = true})"><img class="admin-icon" src="@Url.Content("~/Content/img/up.png")"/></a>
                        <a href="@Url.Action("AlbumOrder", new {id = album.Id, up = false})"><img class="admin-icon" src="@Url.Content("~/Content/img/down.png")"/></a>
                    </h1>
                </div>
                <img class="admin-album-cover" src="@Url.Content("~/Content/cover/" + album.CoverFileName)" />
                <div>
                    Цвет текста: <input type="Color" id="TextColor" name="TextColor" value="@album.TextColor" disabled="disabled" />
                </div>
                <div>
                    @album.Description
                </div>
            </div>
            <div class="admin-album-block">
                <p>Songs <a href="@Url.Action("AddSong", new { albumId = album.Id })"><img class="admin-icon" src="@Url.Content("~/Content/img/add.png")" /></a></p>
                @foreach (var song in album.Songs.OrderByDescending(x=>x.Order))
                {
                    <p>
                        <a href="@Url.Action("GetSongMp3", "Home", new { songId = song.Id})">@song.FullSongName()</a>
                        <a href="@Url.Action("DeleteSong", new {id = song.Id})"><img class="remove" data-type="песню" data-name="@song.Name" src="@Url.Content("~/Content/img/remove.png")"/></a>
                        <a href="@Url.Action("AddSong", new { albumId = song.Album.Id, songId = song.Id })"><img class="admin-icon" data-type="песню" data-name="@song.Name" src="@Url.Content("~/Content/img/edit.png")" / /></a>
                        <a href="@Url.Action("SongOrder", new {id = song.Id, up = true})#album-@album.Id"><img class="admin-icon" src="@Url.Content("~/Content/img/up.png")" /></a>
                        <a href="@Url.Action("SongOrder", new { id = song.Id, up = false })#album-@album.Id"><img class="admin-icon" src="@Url.Content("~/Content/img/down.png")" /></a>
                    </p>
                }
            </div>
        </div>
        if (!album.Equals(Model.Last()))
        {
            <hr />
        }
    }
}