@model List<Dao.Model.Album>

@{
    ViewBag.Title = "Album";
    Layout = "~/Views/AdminMaster.cshtml";
}

@section Script
{
    <script>
        $(document).ready(function () {
            $(".remove").click(function () {
                var img = $(this);
                var type = img.data("type");
                var name = img.data("name");
                if (confirm("Вы хотите удалить " + type + " под названием " + name + "?")) {
                    return true;
                }
                return false;
            });
        });
    </script>

}

<h2>Album list</h2>

@if (Model != null)
{
    foreach (var album in Model)
    {
        <div>
            <div class="admin-album-block clear-left">
                <div>
                    <!--<p>№@album.Id</p>-->
                    <h1 style="margin-top: 0;">
                        @album.Order) @album.Name
                        <a href="@Url.Action("Delete", new {id = album.Id})"><img class="admin-icon" data-type="альбом" data-name="@album.Name" src="@Url.Content("~/Content/img/remove.png")" /></a>
                        <a href="@Url.Action("Edit", new {id = album.Id})"><img class="admin-icon" src="@Url.Content("~/Content/img/edit.png")" /></a>
                        <a href="@Url.Action("OrderUp", new {id = album.Id})"><img class="admin-icon" src="@Url.Content("~/Content/img/up.png")" /></a>
                        <a href="@Url.Action("OrderDown", new {id = album.Id})"><img class="admin-icon" src="@Url.Content("~/Content/img/down.png")" /></a>
                    </h1>
                </div>
                <img class="admin-album-cover" src="@Url.Content("~/Content/cover/" + album.CoverFileName)"/>
                <div>
                    Цвет текста: <input type="Color" id="TextColor" name="TextColor" value="@album.TextColor" disabled="disabled"/>
                </div>
                <div>
                    @album.Description
                </div>
            </div>
            <div class="admin-album-block">
                <p>Песни</p>
                @foreach (var song in album.Songs)
                {
                    <p>
                        <a href="@Url.Content("~/Content/song/" + song.Mp3FileName)">@song.Name</a>
                        <a href="@Url.Action("DeleteSong", new {id = song.Id})"><img class="remove" data-type="песню" data-name="@song.Name" src="@Url.Content("~/Content/img/remove.png")" /></a>
                    </p>
                }
            </div>
        </div>
        if (!album.Equals(Model.Last()))
        {
            <hr/>
        }
    }
}