<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/main.css")">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <title>@ViewBag.Title</title>

    @RenderSection("Script", false)
</head>
<body>
<div>
    <h3>Admin</h3>
    @Html.ActionLink("Front", "Index", "Home")
    ||| @Html.ActionLink("List Album", "Index", "Album")
    ||| @Html.ActionLink("Add Album", "Add", "Album")
    ||| @Html.ActionLink("Add Song", "AddSong", "Album")
    @RenderBody()
</div>
</body>
</html>
