<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/main.css")">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <title>@ViewBag.Title</title>

    @RenderSection("Script", false)
</head>
<body>
<div>
    <div class="navigation-top">
        <div class="float-left"><img class="navigation-top-logo" src="~/Content/img/logo_white_150x150.png" /></div>
        <ul style="float: right;">
            <li>
                @Html.ActionLink("На сайт", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Альбомы", "Index", "Album")
            </li>
            <li>
                @Html.ActionLink("Добавить Альбом", "Add", "Album")
            </li>
            <li>
                @Html.ActionLink("Добавить Песню", "AddSong", "Album")
            </li>
            <li>
                @Html.ActionLink("Выйти", "Exit", "Album")
            </li>
            <li>
                @Html.ActionLink("О нас", "AddStaticContent", "Album")
            </li>
        </ul>
    </div>
    <div style="float: left; width: 100%;">
        @RenderBody()
    </div>
</div>
</body>
</html>
