<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/main.css")">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <title>@ViewBag.Title</title>

    @RenderSection("Script", false)
</head>
<body>
<div>
    <div class="navigation-top">
        <div class="float-left"><img class="navigation-top-logo" src="~/Content/img/logo_white_150x150.png" /></div>
        <ul style="float: right;">
            <li>
                @Html.ActionLink("Go to Front", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("All Album", "Index", "Album")
            </li>
            <li>
                @Html.ActionLink("Add Album", "Add", "Album")
            </li>
            <li>
                @Html.ActionLink("Add Song", "AddSong", "Album")
            </li>
            <li>
                @Html.ActionLink("Font", "SaveNewFont", "Album")
            </li>
            <li>
                @Html.ActionLink("Static", "AddStaticContent", "Album")
            </li>
            <li>
                @Html.ActionLink("Exit", "Exit", "Album")
            </li>
        </ul>
    </div>
    <div style="float: left; width: 100%;">
        @RenderBody()
    </div>
</div>
</body>
</html>
